.App {
  /* text-align: center; */
  /* background-color:#2F303A; */
}



/* * {
  background-color: #2F303A;
} */
.page-container {
  animation: fadeInAnimation ease 0.7s; 
  animation-iteration-count: 1; 
  animation-fill-mode: forwards; 
  /* min-height: 100vh; */
}




@keyframes fadeInAnimation { 
  0% { 
      opacity: 0; 
  } 
  100% { 
      opacity: 1; 
   } 
} 




