.landing-body {
    /* text-align: left; */
    display: flex;
    flex-direction: row;
    vertical-align: middle;
    align-items: top;
    justify-content: space-evenly;
    max-width: 1300px;
    margin: auto;
    /* flex-wrap:wrap; */
    align-content: center;
    /* margin-top: 2rem; */
    
  }
  .big-logo {
    height: 30vw;
    width: 30vw;
  }
  .landing-text {
    vertical-align: middle;
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 3rem;
    /* float: left; */
    /* padding-bottom: 1rem; */
  }

  /* .landing-page-item {
    margin-left:auto;
    margin-right:auto;
  } */

  
  .title {
    font-weight: 500;
    font-size: 4em;
    margin-bottom: 1.5rem;
    margin-top: 0;
    animation-delay: 1.75s;
  }
  
  .subtitle {
    font-weight: 500;
    font-size: 2em;
    margin-bottom: 3rem;
  }
  
  .join-button {
    color: white;
    font-weight: bold;
    background-color: #006edc;
    padding: 0.75rem 1.5rem;
    border-radius: 0.5rem;
    text-decoration: none;
    font-size: 0.9rem;
    transition: background-color 0.1s linear;
    outline: none;
    border: none;
    cursor: pointer;
    
  }
  
  .join-button:focus {
    /* background-color: rgb(50, 156, 158) */
    background-color: #2b84dd;
  }
  
  .join-button:hover {
    /* background-color: rgb(50, 156, 158); */
    background-color: #2b84dd;
  }

  .join-button-nf {
    color: white;
    font-weight: bold;
    /* background-color: #368d8f; */
    background-color: #195EA4;
    /* background-color: rgb(32, 32, 39); */
    /* background-color: #2f3235; */
    padding: 0.75rem 1.5rem;
    border-radius: 0.5rem;
    text-decoration: none;
    font-size: 0.9rem;
    transition: background-color 0.1s linear;
    outline: none;
    border: none;
    cursor: pointer;
  }
  .join-button-nf:hover {
    /* background-color: rgb(50, 156, 158); */
    background-color: rgb(48, 111, 173);
    
  }

  .right-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @media(max-width: 1000px) {
    .landing-body {
      flex-direction: column;
      /* margin-top: -5rem; */
      align-content: center;
      align-items: center;


    }
    .landing-text {
      align-items: center;
      margin-top: 0em;
    }

  }

  .animated-task {
    /* opacity: 0; */
    transform: translate3d(0, 0, 0);
    animation: taskAnimation 1s ease;
    /* animation-delay: 5s; */
    animation-fill-mode: both;
  }

  .task1 {animation-delay: 1.75s;}
  .task2 {animation-delay: 3.5s;}
  .task3 {animation-delay: 5.25s;}
  .task4 {animation-delay: 7s;}
  @keyframes taskAnimation {
    0% {opacity: 0; transform: translate3d(0, 150px, 0);}
    /* 90% {opacity: 0; transform: translate3d(0, 100px, 0);} */
    100% {opacity: 1; transform: translate3d(0, 0, 0);}
  }

  .pulse-circle {
    opacity: 0;
    animation: pulseAnimation 1.75s ease-in-out;
    animation-delay: 1.75s;
    animation-iteration-count: 4;
    animation-fill-mode: both;


  }

  @keyframes pulseAnimation {
    0% {opacity: 0}
    12.5% {opacity: 0.15}
    25% {opacity: 0}
  }

