.landing-body {
    /* text-align: left; */
    display: flex;
    flex-direction: row;
    vertical-align: middle;
    align-items: center;
    justify-content: space-between;
    max-width: 1300px;
    margin: auto;
    margin-top: 5rem;
    
  }
  .big-logo {
    height: 30vw;
    width: 30vw;
  }
  .landing-text {
    vertical-align: middle;
    display:flex;
    flex-direction: column;
    text-align: left;
    align-items: flex-start;
    float: left;
    padding-bottom: 4rem;
  }
  
  .title {
    font-weight: 500;
    font-size: 4em;
    margin-bottom: 1.5rem;
    margin-top: 0;
  }
  
  .subtitle {
    font-weight: 500;
    font-size: 2em;
    margin-bottom: 5rem;
  }
  
  .join-button {
    color: white;
    font-weight: bold;
    background-color: #368d8f;
    padding: 0.75rem 1.5rem;
    border-radius: 0.5rem;
    text-decoration: none;
    font-size: 0.9rem;
    transition: background-color 0.1s linear;
    outline: none;
    border: none;
    cursor: pointer;
    
  }
  
  .join-button:focus {
    background-color: rgb(50, 156, 158)
  }
  
  .join-button:hover {
    background-color: rgb(50, 156, 158);
  }

  .join-button-nf {
    color: white;
    font-weight: bold;
    background-color: #368d8f;
    padding: 0.75rem 1.5rem;
    border-radius: 0.5rem;
    text-decoration: none;
    font-size: 0.9rem;
    transition: background-color 0.1s linear;
    outline: none;
    border: none;
    cursor: pointer;
  }
  .join-button-nf:hover {
    background-color: rgb(50, 156, 158);
  }